*{
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

body{
    background-color: #48D1CC;
}

h1{
    color: #2F4F4F;
    margin-top: 30px;
    font-size: 35px;
}
label{
    color:#2F4F4F;
}

#input{
    margin-top: 50px;
}

input#nome{
    margin: 5px;
    width: 300px;
    height: 45px;
    padding: 5px;
    border-radius:10px ;
    border: 1px solid #000;
    background-color: #DCDCDC; 
}

input#altura{
    margin: 8px;
    width: 300px;
    height: 45px;
    padding: 5px;
    border-radius:10px ;
    border: 1px solid #000;
    background-color: #dcdcdc; 
}

input#peso{
    margin: 5px;
    width: 300px;
    height: 45px;
    padding: 5px;
    border-radius:10px ;
    border: 1px solid #000;
    background-color: #DCDCDC; 
}

#calcular{
    width: 100px;
    height: 35px;
    background-color: #2F4F4F;
    border: solid 1px #000;
    border-radius: 8px;
    color: #fff;
    margin-top: 20px;
    margin-left: 40px;
}

#limpar{
    width: 100px;
    height: 35px;
    background-color: #2F4F4F;
    border: solid 1px #000;
    border-radius: 8px;
    color: #fff;
    margin-top: 20px;
    margin-left: 40px;
}

table{
  margin-left: 500px;
  margin-top: 60px;
  color: #2F4F4F;
  background-color: #a9a9a9;
  margin-left: 85vh;
}